---
import Layout from '../../layouts/Layout.astro';
import About from '../../components/sections/About.astro';
---

<Layout 
  title="About Me - Habdil Iqrawardana"
  description="Learn more about my journey, skills, and experiences in technology and education."
>
  <main>
    <About />
  </main>
</Layout>