---
import Layout from '../../layouts/Layout.astro';
import Experience from '../../components/sections/AllExperience.astro';
---

<Layout 
  title="Experience - Habdil Iqrawardana"
  description="Explore my professional journey, achievements, and contributions in technology and education."
>
  <main>
    <Experience />
  </main>
</Layout>