---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Experience from '../components/sections/Experience.astro';
import Journey from '../components/sections/Journey.astro';
---

<Layout title="Habdil - Personal Portfolio">
 <main>
   <Hero />
   <Experience />
   <Journey />
 </main>
</Layout>