---
import Layout from '../../layouts/Layout.astro';
import AllProjects from '../../components/sections/AllProjects.astro';
---

<Layout 
  title="My Projects - Portfolio"
  description="Explore my complete portfolio of projects across various domains"
>
  <main>
    <AllProjects />
  </main>
</Layout>